*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 1.6;

    background: black;
    color: green;
}

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    z-index: 1;
}

.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-bar ul li{
    padding: 1ex;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: green;

    padding: 0.5ex 1.5ex;
    transition: background 0.3s;
    border-radius: 5px;
}

.nav-bar ul li a:hover {
    background-color: green;
    color: black;
    border-radius: 5px;
}


.nav-bar ul li a:hover{
    cursor: pointer;
}


.header {
    position: relative;
    margin: 5ex 0 0 0;
}

.header canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header .content{
    padding: 10ex;
    background: rgba(0, 0, 0, 0.2);
}


.main{
    margin: 5ex;
    border: green 1px solid;
    padding: 5ex;
}

.footer{
    padding: 1ex;
    height: 10ex;
}

.footer .links{
    display: flex;
}

.footer .links a{
    color: #b1b1b1;
    text-decoration: none;
}

.footer .links a:hover{
    color: #fff;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}



.skills-container ul li {
    display: flex;
    align-items: center;
    gap: 1ex;
    list-style: none;
    margin-bottom: 1ex;
}


.container {
    padding: 2ex;
    font-family: Arial, sans-serif;
}

.category {
    margin-bottom: 2ex;
}

.category h3 {
    margin-bottom: 0.5ex;
}

ul {
    list-style-type: disc;
    padding-left: 2ex;
}
