*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: 1.6;

    background: black;
    color: green;
}

.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
}

.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav-bar ul li{
    padding: 1ex;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: green;

    padding: 0.5ex 1.5ex;
    transition: background 0.3s;
    border-radius: 5px;
}

.nav-bar ul li a:hover {
    background-color: #0f0;
    color: black;
    border-radius: 5px;
}


.nav-bar ul li a:hover{
    cursor: pointer;
}


.header {
    position: relative;
    margin: 5ex 0 0 0;
}

.header canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header .content{
    padding: 10ex;
    background: rgba(0, 0, 0, 0.2);
}


.main{
    margin: 5ex;
    border: green 1px solid;
    padding: 5ex;
}

.footer{
    height: 10ex;
}

.footer .links{
    display: flex;
}

.footer .links a{
    color: white;
    text-decoration: none;
}