*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: black;
    color: green;
}

.nav-bar{
    position: fixed;
}

.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
}

.nav-bar ul li{
    padding: 1ex;
    list-style: none;
}
.nav-bar ul li:hover{
    background: #001000;
}

.nav-bar ul li a{
    text-decoration: none;
    color: green;
}


.header{
    margin: 10ex;
}